<div class="subnav">
  <h4 class="basicheader">Offerings</h4>
  <% @class_pages.each do |class_page| %>
    <ul>
      <li>
        <a href="#"><%= class_page.class_title %></a>
      </li>
    </ul>
  <% end %>
</div>
